<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature android:name="android.hardware.usb.accessory" />

    <application
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_rpcs3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_rpcs3_round"
        android:supportsRtl="true"
        android:isGame="true"
        android:theme="@style/Theme.RPCS3"
        tools:targetApi="31">

        <service
            android:name=".PrecompilerService"
            android:foregroundServiceType="specialUse"
            android:exported="false">
        </service>

        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_config" />

        <activity
            android:name=".RPCS3Activity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="${bridgePermission}" >
            <intent-filter>
                <action android:name="com.teknoparrot.rpcs3x6.action.LAUNCH_GAME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".overlay.OverlayEditActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="sensorLandscape"
            android:launchMode="singleTask"
            android:exported="false" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="${bridgePermission}">
            <intent-filter>
                <action android:name="com.teknoparrot.rpcs3x6.action.SETUP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TeknoParrotArcadeImportActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="${bridgePermission}">
            <intent-filter>
                <action android:name="com.teknoparrot.rpcs3x6.action.IMPORT_ARCADE_ROOT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TeknoParrotSessionControlReceiver"
            android:exported="true"
            android:permission="${bridgePermission}">
            <intent-filter>
                <action android:name="com.teknoparrot.rpcs3x6.action.QUERY_SESSION" />
                <action android:name="com.teknoparrot.rpcs3x6.action.STOP_GAME" />
                <action android:name="com.teknoparrot.rpcs3x6.action.QUERY_CATALOG" />
                <action android:name="com.teknoparrot.rpcs3x6.action.QUERY_FIRMWARE" />
            </intent-filter>
        </receiver>

        <provider
            android:authorities="${applicationId}.documents"
            android:name="net.rpcs3.provider.AppDataDocumentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>
</manifest>
